/* =============
    Section 1
============= */

#section-1{ 
    
    background-color: $beige;
    
    #section-1-left {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-1-left .";
        padding: 60px 0;
        color: $black;
        background-color: $beige;

        >div{
            grid-area: section-1-left ;
        }

    }

    #section-1-img {
        background-image: url('../img/bruscetta.jpg');
        background-size: cover;
        background-position-x: -150px;
        background-repeat: no-repeat;
        
        @include md{
            height: 500px;
            background-position-x: -180px;
        }

        @include lg{
            height: 2040px ;
            background-position-x: -100px;
        }
    }

    @include md{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "section-1-img section-1-left";

        #section-1-img{
            grid-area: section-1-img;
        }
        #section-1-left{
            grid-area: section-1-left;
        }

    }

    @include lg{
        display: grid;
        grid-template-columns: 25% auto;
        grid-template-areas: "section-1-img section-1-left";

        #section-1-text{
            grid-area: section-1-left;
        }
    }

    @include md{
        padding: 80px 0;
    }

    @include lg{
        padding: 60px 20px;
    }
}