/* =============
    Section 2
============= */

#section-2{ 
    padding-top: 75px;
    padding-right: 70px;
    background-color: $beige;


    #section-2-content{
    
        @include md{
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-areas: "article aside";

        }


    
        aside{
                background-image: url("../img/bruscetta.jpg");
                background-position: center;
                background-size: cover;
                height: 160px;
                width: 160px;
                margin-left: 150px;
                grid-area: aside;

                @include md{
                    margin-top: 80px;
                    margin-left: 30px;
                    height: 200px;
                    width: 200px;
                }

                @include lg{
                    margin-top: 60px;
                    margin-left: 60px;
                    height: 286px;
                    width: 286px;
                }
        }

    

        p{
            padding-left: 45px;
            padding-right: 30px;
            padding-bottom: 30px;
            padding-top: 30px;
            font-size: 16px;

            @include md{
                padding-left: 45px;
                padding-right: 90px;
                padding-bottom: 100px;
                padding-top: 100px;
                text-align: left;
            }

            @include lg{
                font-size: 24px;
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 115px;
                padding-top: 115px;
            }

            grid-area: article;
        }
    } 
}