/* =============
    Section 2
============= */

#section-2{
    background-color: $beige;
    h1{
        color: $beige;
        background-color: $red;
        text-align: center;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;

        @include md{
            font-size: 52px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        @include lg{
            font-size: 70px;
            padding-top: 45px;
            padding-bottom: 45px;
        }
    }

    #section-2-content{
        ul{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 70px;
        
        }
    }

}