/* =============
    Section 5
============= */
#section-5{
    background-color: $beige;

    background-image: url('../img/produce.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
}