/* =============
    Section 3
============= */
#section-3{
    
    background-color: $beige;

    h1{
        text-align: 
        start;
        color: $beige;
        block-size: 50px;
        background-color: $red;
    }
    div {
        background-image: url('../img/map.jpg');
        background-size: cover;
        height: fit-content;
        background-repeat: no-repeat;
    }

}