/* =============
    Section 6
============= */
#section-6{
    background-image: url("../img/produce.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 215px;

    @include md{
        height: 500px;
    }

    @include lg{
        height: 700px;
    }
}