/* =============
    Section 1
============= */
    #section-1{

        background-image: url('../img/hero-car.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;

}