/* =============
    Footer
============= */

footer{
    div {
        
        #logo{
            background-image: url('../img/logo.svg');
            background-repeat: no-repeat;
            background-position:center;
            box-align: center;
            background-color: $red;
            height: 50px;

        }
        


        @include md{
            height: 25px;
        } 

        @include lg{
            height: 50px;
        }

    }   
}