/* =============
    Header
============= */

#header{
    div {
        background-image: url('../img/hero-car.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;

        @include md{
            height: 512px;
        } 

        @include lg{
            height: 800px;
        }


    }   
    h1{
        text-align: 
        center;
        color: $beige;
        block-size: 25px;
        background-color: $red;
    }
}
