/* =============
    Header
============= */

#header{
    div {
        background-image: url('../img/hero-car.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;


    }   
    h1{
        color: $beige;
       /* block-size: 50px;*/
        background-color: $red;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;

        @include md{
            font-size: 52px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        @include lg{
            font-size: 70px;
            padding-top: 45px;
            padding-bottom: 45px;
        }

    }
}
